.card {

  width: 16rem;
  height: 23rem;
  margin: 30px;
  background-color: rgba(154, 189, 158, 0.25);

}

#restaurant-card {
  width: 16rem;
  height: 23rem;
  margin: 30px;
  background-color: rgba(34, 223, 56, 0.25);
}

.image {
  width: 200px;
  height: 200px
}

.card:hover {
  transform: scale(1.1);
}