.card{
 
  width: 16rem;
  height: 23rem;
  margin:30px;
  background-color: rgba(24, 247, 128, 0.25);
    
}

#restaurant-card{
    width: 16rem;
  height: 23rem;
  margin:30px;
  background-color: rgba(24, 247, 128, 0.25);
}

.image{
    width:200px;
    height:200px
}

.card:hover {
    transform: scale(1.1); 
}
