.map {
  width: 85vw;
  height: 50vh;
  position: relative;
}

.location-info {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 350px;
  min-height: 90px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: rgb(216, 199, 70);
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}