.footer {
    margin-top: 1rem;
    padding: 5px;
    background-color: #023220;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer span {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px;
    background: #B8B8B8;
  }

  .footer-heading{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
       color:white
  }

  .mission-statement{
      font-family: cursive;
      color:#08f09b
  }

  .footer-info{
      color:#08f09b;
      font-family: Arial, Helvetica, sans-serif;
  }